///* ========================================================================
//   #COLORS
//   ======================================================================== */
// All colors used in the project.

$cWhite : #FFF;
$cBlack : #000;

$cDarkGrey : #333333;
$cGrey : #707070;
$cLightGrey: #F2F2F2;
$cRed: #DE0000FF;

$cBlue: #5158BB;
$cYellow: #CFD11A;
$cDarkBlue: #001242;
$cLightBlue: #60CCFB;
$cOrange: #FF8600;
$cGreen: #187A00;


/**
 * Social colors
 */
$cFacebook : #3B5998;
$cTwitter : #55ACEE;
$cPinterest : #CB2027;
$cBehance : #1769FF;
$cDribble : #EA4C89;
$cYoutube : #CD201F;
$cVimeo : #1AB7EA;
$cLinkedin : #0077B5;
$cGithub : #2F2F2F;
