///* ========================================================================
//   #FONTS
//   ======================================================================== */
// This file contains all fonts imported in the project.
/* stylelint-disable */

// @include font-face('Gotham', 'gotham/GothamBook', ttf)

@font-face {
    font-family: "Merriweather";
    src: url("/assets/fonts/Merriweather/Merriweather-Regular.ttf");
    /*src: url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.woff2') format('woff2'),
         url('../fonts/Gotham-Book.ttf') format('truetype');*/
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Merriweather";
    src: url("/assets/fonts/Merriweather/Merriweather-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Merriweather";
    src: url("/assets/fonts/Merriweather/Merriweather-Italic.ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Merriweather";
    src: url("/assets/fonts/Merriweather/Merriweather-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato/Lato-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato/Lato-Bold.ttf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato/Lato-Italic.ttf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato/Lato-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
