.accordion {
    &__button {
        margin-bottom: 0 !important;
        width: 100%;
    }

    &__container {
        transition: height .3s ease;
        overflow: hidden;
        height: 0;
    }

    &__content {
        & .novels__filter:first-child {
            margin-top: rem(30px);
        }
    }
}
