.breadcrumb {
    display: flex;
    align-items: center;
    margin: rem(20px) 0;

    @include mq($until: tablet) {
        display: none;
    }

    &__list {
        display: flex;
    }

    &__separator {
        margin: 0 rem(10px);
    }

    & a {
        font-size: rem(16px);
        color: $cBlack;
        transition: all 300ms ease-in-out;

        &:last-child {
            opacity: 1;
            cursor: auto;
            color: $cBlue;
        }

        &:not(:last-child):hover {
            transition: all 300ms ease-in-out;
        }

        @include mq($until: laptop) {
            font-size: rem(13px);
            padding: rem(8px) rem(10px);
        }
    }

    &__arrow {
        margin: 0 rem(15px);
    }
}
