.story {
    &__item {
        border-radius: 5px;
        border: 1px solid $cGrey;
        display: flex;
        padding: rem(20px);
        gap: rem(30px);

        &-meta.meta {
            gap: rem(40px);
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: rem(30px);
        }
    }

    & img {
        border-radius: 5px;
        width: 200px;
    }
}
