.dropdown {
    display: flex;
    justify-content: center;
    position: relative;

    &__btn {
        display: flex;
        align-items: center;
        gap: rem(8px);
        background-color: $cWhite;
        padding: rem(3px) rem(5px);
        border-radius: 5px;
    }

    &__container {
        position: absolute;
        //left: 0;
        margin-top: rem(30px);
        width: rem(160px);
        border-radius: 5px;
        background-color: $cWhite;
        box-shadow: 0 2px 18px 0 rgba(0, 18, 66, 0.1), 0 2px 18px 0 rgba(0, 18, 66, 0.1);
        left: auto;
        right: 0;

    }

    &__link {
        transition: background-color .3s ease;

        &:hover {
            background-color: $cLightGrey;
            transition: background-color .3s ease;
        }
    }

    & .nav__sublink {
        text-align: left;

        & .nav__sublink__label {
            color: $cBlack;
            margin-left: rem(20px);
        }
    }

    &.open {
        & .nav__dropdown {
            visibility: visible;
            opacity: 1;
            transform: translateY(0) scaleY(1);
            transition: all .3s ease;
        }
    }
}
