.dashboard {
    & .novel {
        &__form {
            display: grid;
            grid-template-columns: 1fr 3fr;
            gap: rem(30px);

            @include mq($until: laptop) {
                grid-template-columns: 1fr;
            }
        }


        &__info {
            & .story__item {
                border: none;
                padding: 0;
            }
        }
    }

    &__stories {

    }


}
