.meta {
    display: flex;
    align-items: center;
    gap: rem(10px);

    &__container {
        display: flex;
        flex-wrap: wrap;
        gap: rem(10px) rem(30px);
    }

    &__term {
        font-weight: 700;
        font-size: rem(18px);
    }
}
