.tags, .genres {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(15px);
    }

    &__item {

    }

    &__link {
        background-color: $cWhite;
        padding: rem(8px) rem(10px);
        display: block;
        border-radius: 5px;


        &--filter:not(&--filter--active) {
            background-color: $cLightGrey;
            color: $cBlack;
            cursor: pointer;
            transition: background-color .3s ease;

            &:hover {
                background-color: darken($cLightGrey, 10%);
                transition: background-color .3s ease;
            }

        }

        &--filter--active {
            background-color: $cBlue;
            color: $cWhite;
            cursor: pointer;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    & .title {
        margin-bottom: rem(10px);
    }
}
