.tags, .genres {
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(15px);
    }

    &__link {
        background-color: $cWhite;
        padding: rem(8px) rem(10px);
        display: block;
        border-radius: 5px;

        @include mq($until: tablet) {
            font-size: rem(15px);
        }

        &--filter:not(&--filter--active) {
            background-color: $cLightGrey;
            color: $cBlack;
            cursor: pointer;
            transition: background-color .3s ease;

            &:hover {
                background-color: darken($cLightGrey, 10%);
                transition: background-color .3s ease;
            }

        }

        &--filter.true {
            background-color: $cBlue !important;
            color: $cWhite !important;
        }

        &--filter--active {
            background-color: $cBlue;
            color: $cWhite;
            cursor: pointer;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
    }

    & .title {
        margin-bottom: rem(10px);
    }
}

.dashboard .genres__item .genres__link {
    background-color: $cLightGrey;
    &:hover {
        background-color: $cLightGrey !important;
    }
}
