/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

@if (type-of($wrapper-width) != number) {
  @error "`#{$wrapper-width}` needs to be a number.";
}

.o-wrapper {
  @include clearfix;
  padding-right: rem($wrapper-padding-right);
  padding-left:  rem($wrapper-padding-left);
  margin-right: auto;
  margin-left:  auto;
  max-width: rem($wrapper-width);
  box-sizing: content-box;
  &::after{
    content: none !important;
  }
}
